# Python / env
.venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Data & logs (don’t upload participant data!)
data/*.tsv
data/*.parquet
data/*.xlsx
submissions.sqlite

# Large/misc
static/images/*.psd
static/images/*.tif
# allow your example image:
!data/
!data/**
!static/images/image_808.jpg
